body{
    background-color: black;
    color: white;
}
section{
    text-align: center;
}
button{
    border-radius: 20%;
    margin: 0.5em;
    padding: 1em;
}
#p1button{
    background-color: blue;
}
#p2button{
    background-color: green;
}
#reset{
    background-color: red;
}
img{
    height: 20em;
    width: 30em;
}